html,
body {
  color: #444444;
  background-color: #222;
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  padding-top: 50px;
  transition: all 0.5s ease-in;
}
body.scrolled-over header {
  height: 50px;
}
body.scrolled-over header .navbar-brand {
  font-size: 25px;
}
body header {
  height: 60px;
  background-color: #f75353;
  transition: all 0.5s ease-in;
}
body header .navbar-brand {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in;
}
body header .navbar-toggle .icon-bar {
  border-top: 2px solid #fff;
}
body header #amill-navbar.in,
body header #amill-navbar.collapsing {
  background-color: #444444;
}
h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 40px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}
p.bigger {
  font-size: 18px;
}
.color-secondary {
  color: #53b0b0;
}
.background-main {
  color: #fff;
  background-image: linear-gradient(160deg, #f75353 10%, #fc5252 80%);
}
.background-secondary {
  color: #fff;
  background-color: #53b0b0;
}
.background-third {
  color: #fff;
  background-color: #444444;
}
.background-white {
  color: #444444;
  background-color: #fff;
}
.background-grey {
  color: #f6f6f6;
  background-color: #444444;
}
.background-light-grey {
  color: #444444;
  background-color: #CACACA;
}
.background-dark {
  color: #f6f6f6;
  background-color: #222;
}
.bubble {
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  background-color: #444444;
}
.bubble .glyphicon {
  font-size: 20px;
  margin-top: 11px;
  margin-left: 1px;
}
.btn-border {
  color: #fff;
  font-size: 20px padding: 15 px 30 px;
  background-color: transparent;
  border-color: #ffa9ae;
  margin-bottom: 10px;
}
.btn-border:hover,
.btn-border:active {
  color: #f75353;
  background-color: #fff;
}
.main {
  text-align: center;
  padding: 80px 0 50px 0;
}
.main .main-name {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.main .lead {
  width: 80%;
  margin: 0 auto 30px;
  font-size: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.part {
  padding-top: 60px;
  padding-bottom: 60px;
}
.part .img-md {
  max-width: 220px;
  margin: auto;
}
.part .img-bg {
  max-height: 300px;
  margin: auto;
}
.part .quarter-width {
  max-width: 500px;
  margin: auto;
}
#contact {
  padding-top: 40px;
}
#contact .contacts {
  max-width: 700px;
  padding: 50px 50px 30px 50px;
  margin: auto;
}
#contact .contacts .panel {
  border-radius: 0;
}
#contact .contacts .panel .panel-title {
  text-align: left;
}
#contact .contacts .panel .panel-title a {
  line-height: 40px;
}
footer {
  padding: 30px 0 30px 0;
}
